html {
	height: 100%;
}

body {
	height: 100%;

	margin: 0;
	font-family: sans-serif;
}

.full-banner-ad{
	height: 25rem;
	background-color: #4caf50;
}
.banner-ad-text {

	margin: 0 auto;
}

.logo-container {
	max-width: 15rem;
	height: 100px;
	background: aqua;
}
.search {
	border: 0;
	border-bottom: 2px solid grey;
}


.product-card{
	display: inline-block;
	height: 250px;
	width: 250px;
	border-radius: 5px; 
	border: 2px solid grey;
}

.half-width-ad {
	display: inline-block;
	height: 20rem;
	width: 48%;
	background-color: #4caf50;
	border-radius: 5px; 
	border: 2px solid grey;
}	

footer div {
	display: inline-block;
	width: 20%;
}