html {
	height: 100%;
}

body {
	height: 100%;
}
ul {
	padding-left: 0;
}	
li {
	list-style: none;
}
form {
	font-size: 1.5rem;
}

.full-banner-ad{
	height: 25rem;
	background-color: #4caf50;
}

#menu-icon, #search-icon, #close-fullscreen {
	display: block;
	padding: 1rem;
}
.logo-container {
	display: block;
	margin: auto;
	max-width: 200px;
	max-width: 18rem;

}
.logo-container img {
	padding: 1rem;
}
.logo {
	border: 1px solid red;
}
.text-align-center{
	text-align: center;
}
.search {
	border: 0;
	border-bottom: 2px solid grey;
}

.dropdown-container {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;

	padding: 1rem;
}
.nav-menu {
	position: fixed;
	left: 0;
	visibility: hidden;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	flex-wrap: nowrap;
	z-index: 10;
}

.fullscreen {
	background-color: red;
	visibility: visible;
}
.nav-dropdown-btn {
	display:block;
	position: relative;
	text-align: center;
	min-width: 50px;
}

.nav-dropdown-btn:hover {
	color: blue;
	cursor: pointer;
}
.nav-links {
	display: block;
	background: #fff; 
	visibility: hidden;
	height: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin: auto;
	padding: 0.25rem;
	overflow: hidden;
}

.nav-links-open {
	height: auto;	
	visibility: visible;
}
.desk-search {
	display: none;
}
.slider-section {
	padding-left: 0;
	padding-right: 0;
}
.slider {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.product-card{
	 flex-shrink: 0;
	height: auto;
	max-width: 400px;
	border-radius: 5px; 
	border: 2px solid grey;
}
.product-img-container{
	max-width: 100%;
	border-radius: 2px; 
}

.product-card-text {
	width: 70%;
}
.product-card-view {
	height: 50px;
	width: 30%;
}
.half-width-ad {
	width: 100%;
	height: 20rem;
	background-color: #4caf50;
	border-radius: 5px; 
	border: 2px solid grey;
}

footer {
	background: lightgrey;
}


@media (min-width: 992px) {

.logo-container {
	max-width: none;
	margin: 0;
}
.desk-search {
	display: block;
}
#close-fullscreen {
	visibility: hidden;
}
.nav-menu {
	height: auto;

	position: relative;
	align-content: flex-end;
	flex-direction: row;
	visibility: visible;
	padding-right: 2rem;
	width: auto;
}
.dropdown-container {
	display: block;
	height: 0;
}
#menu-icon, #search-icon {
	display: none;
}
.slider-section {
	padding: 3rem;
}
.slider {
	flex-wrap: wrap;
	overflow-x: hidden;
}
}